/* :root { */
/*   --bg: #181818; */
/*   --fg: #e3e3e3; */
/*   --mode-normal-fg: #e3e3e3; */
/* } */

#app {
  display: grid;
  grid-template: "navbar tabbar" 2em "main main" auto;
}

#navbar,
#tabs {
  width: 50vw;
}

#page-container {
  grid-area: main;
}

#logo {
  display: none;
}
